{%extends "base.html"%}

{%block content%}


    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column mb-3">

        <div class="card" style="width: 18rem;">
    <img src="https://bing.com/th?id=OSK.HEROb9ahcbjfObPmRIiXfA1eAn1FRQbZo5vzlgfpS7syr5c&w=472&h=280&c=1&rs=2&o=6&pid=SANGAM&adlt=strict" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">washingmachin</h5>
    <p class="card-text">add washingmachin product to compare</p>
    <a href="/add/washingmachin"  class="btn btn-danger">add</a>
  </div>
</div>

        <div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th/id/OIP.Uq2cUUeYgx3XgjdXyAjLXAHaG2?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">mobilephones</h5>
    <p class="card-text">add mobilephones product to compare</p>
    <a href="/add/mobilephones"  class="btn btn-danger">add</a>
  </div>
</div>







      </div>
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column mb-3">

        <div class="card" style="width: 18rem;">
    <img src="https://tse1.mm.bing.net/th/id/OIP.3Kou2ocpwwa1waGyf2LsgQHaEt?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PCs</h5>
    <p class="card-text">add PCs product to compare</p>
    <a href="/add/PC"  class="btn btn-danger">add</a>
  </div>
</div>




        <div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th/id/OIP.O73s42a9wRJEjZooSRStzAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">headphones</h5>
    <p class="card-text">add headphones product to compare</p>
    <a href="/add/headphones"  class="btn btn-danger">add</a>
  </div>
</div>







      </div>
    </div>

{%endblock%}