{%extends "base.html"%}


{%block content%}


    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column mb-3">

        <div class="card" style="width: 18rem;">
    <img src="https://bing.com/th?id=OSK.HEROb9ahcbjfObPmRIiXfA1eAn1FRQbZo5vzlgfpS7syr5c&w=472&h=280&c=1&rs=2&o=6&pid=SANGAM&adlt=strict" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">washingmachin</h5>
    <p class="card-text">compare washingmachin</p>
    <a href="/compare/washingmachin/1/1"  class="btn btn-primary">compare</a>
  </div>
</div>

        <div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th/id/OIP.Uq2cUUeYgx3XgjdXyAjLXAHaG2?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">mobilephones</h5>
    <p class="card-text">compare mobilephones</p>
    <a href="/compare/mobilephones/1/1"  class="btn btn-primary">compare</a>
  </div>
</div>







      </div>
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column mb-3">

        <div class="card" style="width: 18rem;">
    <img src="https://tse1.mm.bing.net/th/id/OIP.3Kou2ocpwwa1waGyf2LsgQHaEt?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PCs</h5>
    <p class="card-text">compare PCs</p>
    <a href="/compare/PC/1/1"  class="btn btn-primary">compare</a>
  </div>
</div>




        <div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th/id/OIP.O73s42a9wRJEjZooSRStzAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">headphones</h5>
    <p class="card-text">compare headphones</p>
    <a href="/compare/headphones/1/1"  class="btn btn-primary">compare</a>
  </div>
</div>







      </div>
    </div>



{%endblock%}








